
.headshot {
    width: 500px; ;
    height: 700px ;
    border: 20px solid #2C0447;
    border-style: groove;
    box-shadow: 0px 20px 40px 0px ;
    margin: 15px 30px 30px 15px;
}

body{
    font-family: Arial, Verdana, Tahoma, Trebuchet, Times, Georgia, Garamond, Courier;
    background: linear-gradient(to bottom,#2F15A2,#2A1780,#140949, #0C052B);
    
}
.about-me{
  position: relative;
  float: left;
  margin-top: -730px;
  margin-left: 610px;

}
.navbubbles {
    float: right;
  }

  header{
    background: linear-gradient(to right,#620A9D,#2C0447);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 10px 10px 0px ;
     }

  header h1{
    color: #1A022A;
    font-size: 4em;
    direction: rtl;
    text-indent: .5em;
    margin: 0px 0px 30px 0px;
    
  }

  header nav{
    margin: 0px 5px 15px 15px;
  }

 nav a{
    display: inline block;
    padding: 10px 20px;
    border-radius: 50%;
    background-color: #BA016D;
    text-decoration: none;
    color: #1A022A;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

nav a:hover {
    background-color: #540031;
    box-shadow: 5px 5px 10px 5px#000000;
  }
 Footer{
    position: absolute;
    background-image: linear-gradient(to right, #620A9D, #540031, #1A022A);
    box-shadow: #000000 10px 10px 10px 10px;
    width: 100%;
    z-index: 999;
    border-style: groove;
    border-color: #0C052B;
    color: white;
    text-indent: 2em;

    }
 
    .content-box{
        margin-bottom: 50px;
        text-indent: 2em;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 800px;
        margin: 8px auto;
        overflow: hidden;
        background-color: floralwhite;
        border-radius: 10px 10px 10px 10px;
        box-shadow: #2A1780 20px 20px 20px 20px;
    }
      
      .content-box img {
        width: 300px;
        height: 300px;
        object-fit: cover;
      }
      
      .content {
        flex: 1;
        padding: 20px;
      }
      
      .content h2 {
        margin: 0;
        font-size: 24px;
      }
      
      .content p {
        margin: 20px 0;
        font-size: 16px;
      }
    
